<div class="row">
    <button class="large btn btn-success" id="btn_ligne_ajouter" (click)="ajouterLigne()">Creer une ligne</button>
</div>

<table class="table" id="tbl_result_tiers">
    <thead>
        <tr>
            <th>Description</th>
            <th>Type ligne</th>
            <th>Montant</th>
            <th *ngIf="estEditable">Editer</th>
        </tr>
    </thead>
    <tbody>
        <tr [id]="'tr_ligne_' + ligne.id" *ngFor="let ligne of demande.lignes;index as index; ">
            <td>{{ ligne.description }}</td>
            <td>{{ ligne.typeLigne.libelle }}</td>
            <td>{{ ligne.montant }}</td>
            <td *ngIf="estEditable"><button class="btn btn-success my-2 my-sm-0 large"
                    (click)="editerLigne(ligne, index)">Editer</button>
            </td>
        </tr>
    </tbody>
</table>



<ng-template #ajoutLigneModale let-modal>
    <div class="modal-header">
        <h2 *ngIf="estNouvelleLigne()">Ajout ligne</h2>
        <h2 *ngIf="estModificationLigne()">Ajout ligne</h2>
    </div>
    <div class="modal-body">
        <app-debug [objectDebug]="ligneEnCoursEdition" [objectNom]="'ligneEnCoursEdition'"></app-debug>
        <app-debug [objectDebug]="listeDonnees.typeLignes" [objectNom]="'listeDonnees.typeLignes'"></app-debug>

        <div class="row">
            <div class="col-6">
                <label for="inp_ligne_description">Description</label>
                <input [disabled]="!estEditable" required class="form-control" type="text" name="inp_ligne_description"
                    id="inp_ligne_description" [(ngModel)]="ligneEnCoursEdition.description" />
            </div>

            <div class="col-6">
                <label for="sec_ligne_typeLigne">Type de ligne</label>
                <select [disabled]="!estEditable" required class="form-select"
                    [(ngModel)]="ligneEnCoursEdition.typeLigne" id="sec_ligne_typeLigne"
                    aria-label="Default select example">
                    <option *ngFor="let typeLigne of listeDonnees.typeLignes" [ngValue]="typeLigne">{{ typeLigne.libelle
                        }}
                    </option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <label for="inp_ligne_montant">TJM</label>
                <input [disabled]="!estEditable" required type="number" class="form-control" type="text"
                    name="inp_ligne_montant" id="inp_ligne_montant" [(ngModel)]="ligneEnCoursEdition.montant" />
            </div>
            <div class="col-6">
                <label for="inp_ligne_nombreDeJour">Nombre de jours</label>
                <input [disabled]="!estEditable" required class="form-control" type="text" name="inp_ligne_nombreDeJour"
                    id="inp_ligne_nombreDeJour" [(ngModel)]="ligneEnCoursEdition.nombreDeJour" />
            </div>
        </div>


        <hr>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-success my-2 my-sm-0 large" (click)="modal.dismiss()">Fermer</button>
            </div>
            <div class="col-6">
                <button *ngIf="estNouvelleLigne()" class="btn btn-success my-2 my-sm-0 large"
                    id="btn_selectionner_tiers" (click)="validerAjoutLigne()">Ajouter la ligne</button>
                <button *ngIf="estModificationLigne()" class="btn btn-success my-2 my-sm-0 large"
                    id="btn_selectionner_tiers" (click)="validerModificationLigne()">Valider la modification</button>

            </div>
        </div>
    </div>

</ng-template>