<div *ngIf="estDebug" class="alert alert-dark">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active' : !isDisplayDebug}" (click)="hide()">Hide <span>{{objectNom}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active' : isDisplayDebug}" (click)="display()">Display
        <span>{{objectNom}}</span></a>
    </li>
    <li class="nav-item">
  </ul>
  <div *ngIf="isDisplayDebug">
    <pre>{{ objectDebug | json }}</pre>
  </div>

</div>
