@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

button.large {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.required-asterisk {
  color: red;
  font-size: 1.2em;
}

.required-asterisk:before {
  content: "\00a0 ";
}